html, body {
	margin: 0;
	padding: 0;
	color: #000;
	background: #fff;
}

#wrapper {
	width: 80%;
	margin: 0 auto;
	background: #ddd;
}

#header {
	background: #fdd;
}

#content-1 {
	background: #bfb;
	float: left;
	width: 20%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

}

#content-2 {
	float: right;
	width: 80%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

#content-2-1 {
	background: #ddf;
}

#content-2-2 {
	background: #dff;
}

#footer {
	background: #ff9;
}